<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Tv List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <strong>Log in</strong>
  <div id="container">
    <ion-list class="container-login">
      <ion-list>
        <ion-input label="Correo" labelPlacement="floating" type="email" [(ngModel)]="email"></ion-input>
        <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="password"></ion-input>
      </ion-list>
      <ion-button id="btn-login" (click)="logear()">Logear</ion-button>
    </ion-list>
    <p>¿no estas registrado? <a target="_blank" (click)="registrar()">Registrate</a></p>
  </div>
</ion-content>
