<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Lista de {{correo}}</h1>
  <div class="container">
    <ion-grid>      
      <ion-row *ngFor="let x of arrayseries">
        <ion-col>
          <p>{{x.id_serie}}</p>
        </ion-col>
        <ion-col>
          <p>{{x.nombre_serie}}</p>
        </ion-col>
        <ion-col>
          <a target="_blank" (click)="verSerie(x.id_serie)">ver detalles</a>
          <br>
          <a target="_blank" (click)="eliminar()">eliminar</a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <a target="_blank" (click)="volver()">Volver</a>
  </div>

</ion-content>